---
import Item from './Item.astro';
const { items, title } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
    <title>{title}</title>
</head>
<body>
    <h1>{title}</h1>
    <ul>
        {Promise.all(items.map(async item => new __RawHtml(await Item({ item }))))}
    </ul>
</body>
</html>
